### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [97]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
qq = df
tt = df
MP = df
df.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

## Player Count

* Display the total number of players

In [64]:
# Create a new table consolodating above calculations
df = df.drop_duplicates()
df = df.dropna(how = 'any')
total_players =  len(df["SN"].unique())
Player_Count = pd.DataFrame({"Total Players": [total_players ] } )


Player_Count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [65]:


Number_of_Unique_Items = len(df['Item ID'].unique().tolist())
Average_Price = df.Price.mean()
Number_of_Purchases = df["Purchase ID"].count(),
Total_Revenue = df["Price"].sum()


Purchasing_Analysis = pd.DataFrame({
    "Number of Unique Items": Number_of_Unique_Items,
    "Average Price": Average_Price,
    "Number of Purchases": Number_of_Purchases,
    "Total Revenue": Total_Revenue
})
Purchasing_Analysis

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     183        2379.77

In [66]:
Purchasing_Analysis["Number of Purchases"] = Purchasing_Analysis["Number of Purchases"].map("{0:,.0f}".format)
Purchasing_Analysis["Number of Unique Items"] = Purchasing_Analysis["Number of Unique Items"].map("{0:,.0f}".format)
Purchasing_Analysis["Total Revenue"] =Purchasing_Analysis["Total Revenue"].map("${0:,.2f}".format)
Purchasing_Analysis["Average Price"] = Purchasing_Analysis["Average Price"].map("${0:,.2f}".format)
Purchasing_Analysis

  Average Price Number of Purchases Number of Unique Items Total Revenue
0         $3.05                 780                    183     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [72]:
dfG = df.groupby(['Gender'])
#total_gender = len(df["Gender"].unique())
total_SN = dfG["SN"].count()
Per_Of_Players = (total_gender/total_players) * 100

Gender_Demographics = pd.DataFrame({"Total Count":total_SN ,
                                   "Percentage of Players":Per_Of_Players ,
                                   }
                                  )


Gender_Demographics

                       Percentage of Players  Total Count
Gender
Female                             19.618056          113
Male                              113.194444          652
Other / Non-Disclosed               2.604167           15

In [74]:
Gender_Demographics["Total Count"] = Gender_Demographics["Total Count"].map("{0:,.0f}".format)
Gender_Demographics["Percentage of Players"] = Gender_Demographics["Percentage of Players"].map("{0:,.2f}".format)
Gender_Demographics

                      Percentage of Players Total Count
Gender
Female                                19.62         113
Male                                 113.19         652
Other / Non-Disclosed                  2.60          15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [77]:
df = df.groupby(['Gender'])

In [78]:
Purchase_Count = df["Purchase ID"].count()
Average_Purchase_Price = df["Price"].mean()
Total_Purchase_Value = df["Price"].sum()
Avg_Total_Purchase_per_Person = Total_Purchase_Value / Purchase_Count

In [79]:
Purchasing_Analysis = pd.DataFrame({"Purchase Count": Purchase_Count,
                    "Average Purchase Price": Average_Purchase_Price,
                    "Total Purchase Value": Total_Purchase_Value,
                    "Avg Total Purchase per Person": Avg_Total_Purchase_per_Person}
                                                               
                                  )

Purchasing_Analysis

,Average Purchase Price,Avg Total Purchase per Person,Purchase Count,Total Purchase Value
Gender,,,,
Female,3.203009,3.203009,113,361.94
Male,3.017853,3.017853,652,1967.64
Other / Non-Disclosed,3.346000,3.346000,15,50.19

In [80]:
Purchasing_Analysis["Purchase Count"] = Purchasing_Analysis["Purchase Count"].map("{0:,.0f}".format)
Purchasing_Analysis["Total Purchase Value"] = Purchasing_Analysis["Total Purchase Value"].map("{0:,.2f}$".format)
Purchasing_Analysis["Avg Total Purchase per Person"] = Purchasing_Analysis["Avg Total Purchase per Person"].map("${0:,.2f}".format)
Purchasing_Analysis["Average Purchase Price"] = Purchasing_Analysis["Average Purchase Price"].map("${0:,.2f}".format)
Purchasing_Analysis

,Average Purchase Price,Avg Total Purchase per Person,Purchase Count,Total Purchase Value
Gender,,,,
Female,$3.20,$3.20,113,361.94$
Male,$3.02,$3.02,652,"1,967.64$"
Other / Non-Disclosed,$3.35,$3.35,15,50.19$

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [98]:
# Create bins in which to place values based upon TED Talk views
bins = [0,10, 14, 19,24,29,34,39,40 ]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [99]:
#qq = df# Slice the data and place it into bins
pd.cut(qq["Age"], bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [100]:
# Place the data series into a new column inside of the DataFrame
qq["Age"] = pd.cut(qq["Age"], bins, labels=group_labels)

In [101]:
qq = qq.groupby(['Age'])

In [102]:
Gender_Count = qq["Gender"].count()
Average_Purchase_Price = qq["Price"].mean()
#Total_Purchase_Value = qq["Price"].sum()
#Avg_Total_Purchase_per_Person = Total_Purchase_Value / Purchase_Count

Purchasing_Analysis = pd.DataFrame({"Total Count": Gender_Count,
                                    "Percentage of Players": Average_Purchase_Price,
                                    }
                                                               
                                  )

Purchasing_Analysis

       Percentage of Players  Total Count
Age
<10                 3.405000           32
10-14               2.681579           19
15-19               3.035956          136
20-24               3.052219          365
25-29               2.900990          101
30-34               2.931507           73
35-39               3.601707           41
40+                 2.785000            6

In [103]:
Purchasing_Analysis["Percentage of Players"] = Purchasing_Analysis["Percentage of Players"].map("{0:,.2f}%".format)
Purchasing_Analysis["Total Count"] = Purchasing_Analysis["Total Count"].map("{0:,.0f}".format)
Purchasing_Analysis

      Percentage of Players Total Count
Age
<10                   3.40%          32
10-14                 2.68%          19
15-19                 3.04%         136
20-24                 3.05%         365
25-29                 2.90%         101
30-34                 2.93%          73
35-39                 3.60%          41
40+                   2.79%           6

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [105]:
ss = df.groupby(['Age'])

In [106]:
Gender_Count = ss["Price"].count()
Average_Purchase_Price = ss["Price"].mean()
Total_Purchase_Value = ss["Price"].sum()
Avg_Total_Purchase_per_Person = Total_Purchase_Value / Purchase_Count

Purchasing_Analysis = pd.DataFrame({"Purchase Count": Gender_Count,
                                    "Average Purchase Price": Average_Purchase_Price,
                                    "Total Purchase Value": Gender_Count,
                                    "Avg Total Purchase per Person": Average_Purchase_Price
                                    }
                                                               
                                  )

Purchasing_Analysis

,Average Purchase Price,Avg Total Purchase per Person,Purchase Count,Total Purchase Value
Age,,,,
<10,3.405000,3.405000,32,32
10-14,2.681579,2.681579,19,19
15-19,3.035956,3.035956,136,136
20-24,3.052219,3.052219,365,365
25-29,2.900990,2.900990,101,101
30-34,2.931507,2.931507,73,73
35-39,3.601707,3.601707,41,41
40+,2.785000,2.785000,6,6

In [107]:
Purchasing_Analysis["Total Purchase Value"] = Purchasing_Analysis["Total Purchase Value"].map("{0:,.2f}$".format)
Purchasing_Analysis["Purchase Count"] = Purchasing_Analysis["Purchase Count"].map("{0:,.0f}".format)
Purchasing_Analysis["Avg Total Purchase per Person"] = Purchasing_Analysis["Avg Total Purchase per Person"].map("{0:,.2f}$".format)
Purchasing_Analysis["Average Purchase Price"] = Purchasing_Analysis["Average Purchase Price"].map("{0:,.2f}$".format)
Purchasing_Analysis

,Average Purchase Price,Avg Total Purchase per Person,Purchase Count,Total Purchase Value
Age,,,,
<10,3.40$,3.40$,32,32.00$
10-14,2.68$,2.68$,19,19.00$
15-19,3.04$,3.04$,136,136.00$
20-24,3.05$,3.05$,365,365.00$
25-29,2.90$,2.90$,101,101.00$
30-34,2.93$,2.93$,73,73.00$
35-39,3.60$,3.60$,41,41.00$
40+,2.79$,2.79$,6,6.00$

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [118]:
sss = df.groupby('SN')
Top_Spenders = sss['Price'].agg([ np.mean,np.sum])
Top_Spenders.head(5)

              mean   sum
SN
Adairialis76  2.28  2.28
Adastirin33   4.48  4.48
Aeda94        4.91  4.91
Aela59        4.32  4.32
Aelaria33     1.79  1.79

In [119]:
ss = tt.groupby(['SN'])

In [120]:
Gender_Count = ss["Price"].count()
Average_Purchase_Price = ss["Price"].mean()
Total_Purchase_Value = ss["Price"].sum()
#Avg_Total_Purchase_per_Person = Total_Purchase_Value / Purchase_Count

Top_Sp = pd.DataFrame({"Purchase Count": Gender_Count,
                                    "Average Purchase Price": Average_Purchase_Price,
                                    "Total Purchase Value": Total_Purchase_Value
                                    }
                                                               
                                  )

Top_Sp.head(5)

              Average Purchase Price  Purchase Count  Total Purchase Value
SN
Adairialis76                    2.28               1                  2.28
Adastirin33                     4.48               1                  4.48
Aeda94                          4.91               1                  4.91
Aela59                          4.32               1                  4.32
Aelaria33                       1.79               1                  1.79

In [121]:
Top_Sp = Top_Sp.sort_values('Total Purchase Value', ascending=False)
Top_Sp.head(5)

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Lisosia93                  3.792000               5                 18.96
Idastidru52                3.862500               4                 15.45
Chamjask73                 4.610000               3                 13.83
Iral74                     3.405000               4                 13.62
Iskadarya95                4.366667               3                 13.10

In [122]:
Top_Sp["Purchase Count"] = Top_Sp["Purchase Count"].map("{0:,.0f}".format)
Top_Sp["Total Purchase Value"] = Top_Sp["Total Purchase Value"].map("{0:,.2f}$".format)
Top_Sp["Average Purchase Price"] = Top_Sp["Average Purchase Price"].map("{0:,.2f}$".format)
Top_Sp.head(5)

            Average Purchase Price Purchase Count Total Purchase Value
SN
Lisosia93                    3.79$              5               18.96$
Idastidru52                  3.86$              4               15.45$
Chamjask73                   4.61$              3               13.83$
Iral74                       3.40$              4               13.62$
Iskadarya95                  4.37$              3               13.10$

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:


MP = MP.groupby(['Item ID', 'Item Name'])

In [51]:
Gender_Count = MP["Price"].count()
Average_Purchase_Price = MP["Price"].mean()
Total_Purchase_Value = MP["Price"].sum()
#Avg_Total_Purchase_per_Person = Total_Purchase_Value / Purchase_Count

Most_Popular_Items = pd.DataFrame({"Purchase Count": Gender_Count,
                                    "Item Price": Average_Purchase_Price,
                                    "Total Purchase Value": Total_Purchase_Value
                                    }
                                                               
                                  )

Most_Popular_Items.head(5)

                            Item Price  Purchase Count  Total Purchase Value
Item ID Item Name
0       Splinter                  1.28               4                  5.12
1       Crucifer                  3.26               3                  9.78
2       Verdict                   2.48               6                 14.88
3       Phantomlight              2.49               6                 14.94
4       Bloodlord's Fetish        1.70               5                  8.50

In [52]:
Most_Popular_Items = Most_Popular_Items.sort_values('Purchase Count', ascending=False)
Most_Popular_Items.head(5)

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
145,Fiery Glass Crusader,4.58,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
82,Nirvana,4.90,9,44.10
19,"Pursuit, Cudgel of Necromancy",1.02,8,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [54]:
Most_Popular_Items = Most_Popular_Items.sort_values('Total Purchase Value', ascending=False)
Most_Popular_Items.head(5)

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
145,Fiery Glass Crusader,4.58,9,41.22
92,Final Critic,4.88,8,39.04
103,Singed Scalpel,4.35,8,34.80

In [ ]:

Most_Popular_Item["Purchase Count"] = Most_Popular_Item["Purchase Count"].map(
    "{0:,.2f}%".format)
Most_Popular_Items["Item Price"] = Most_Popular_Items["Item Price"].map(
    "${0:,.0f}".format)
Most_Popular_Items["Total Purchase Value"] = Most_Popular_Items["Total Purchase Value"].map(
    "${0:,.0f}".format)
Most_Popular_Items